body > .fab {

    position: fixed;

    height: 0;

    width: 100%;

    max-width: var(--max-width);

    bottom: 0;

    left: 50%;

    transform: translate(-50%, 0%);

    z-index: 1;

}

body > .fab > button {

    cursor: pointer;

    background-position: center;

    background-color: var(--accent-color);

    background-image: url({{{assetsUrl}}}/logoCenter.svg);

    border-width: 0;

    border-radius: 50%;

    --diameter: 3.5em;

    width: var(--diameter);

    height: var(--diameter);

    position: absolute;

    bottom: var(--padding);

    right: var(--padding);

}

body > .fab > button:hover {

    background-color: var(--darker-accent-color);

}
